.text-menu {
    text-decoration: none;
    color: white;

    font-size: 30px;
    font-weight: 600;


}

.footer {
    text-decoration: none;
    color: white;

    font-size: 30px;
    font-weight: 600;
}

.menu li {
    margin: 30px;
    list-style: none;
    text-align: center;
}



