.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background: linear-gradient(45deg, #a28877 0%,  #e9424f) fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .back-button img {
    padding: 3px ;

    color: #fff;


    cursor: pointer;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .logo {
    height: 60px;
  }
