.scene-square {
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding: 10px;
    /* adjust this value to change the size of the box */
    border-radius: 10px;
    /* adjust this value to change the roundness of the corners */
    background-color: #ffffff;
    /* change this value to set the background color of the box */
    width: 300px;
    /* height: 150px;  */
}

li {
    list-style: none;
}


.scene-flex{
    display: flex;
    justify-content: space-between;
}

.scene-Header{
    text-align: center;
}
.text-artist{
border-radius: 15px;
background: #e9e9e9;
width: auto;
margin-bottom: 2px;
margin: 0,5em;
padding: 0.3em;


}