.scene-square {
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding: 10px;
    /* adjust this value to change the size of the box */
    border-radius: 10px;
    /* adjust this value to change the roundness of the corners */
    background-color: #ffffff;
    /* change this value to set the background color of the box */
    width: 300px;
    /* height: 150px;  */
}

li {
    list-style: none;
}


.scene-flex {
    display: flex;
    justify-content: space-between;
}

.scene-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-text-container {
    position: relative; /* Set the container to relative positioning */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scene-header {
    margin-right: 20px; /* Add space to the right of the header */
  }
  
  .popuptext-container {
    position: absolute; /* Set the container to absolute positioning */
     /* Position the container below the header */
    margin-top: 0.8em;
    margin-bottom: auto;
    margin-left: 15em;
    margin-right: auto; /* Position the container to the right of the header */
    display: flex;
    align-items: center;
    /* Set the height of the container */
  }
  

.text-artist {
    border-radius: 15px;
    background: #e9e9e9;
    width: auto;
    margin-bottom: 2px;
    margin: 0, 5em;
    padding: 0.3em;


}

.bookmark-star {
    text-align: center;
    display: flex;
    justify-content: space-between; 
    background-color: aqua;
}


.favorite-icon-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  