.nav{
    text-align: center;
    list-style: none;
}

.nav ul{
    list-style: none;
}

body{
    background: linear-gradient(90deg, rgb(0, 153, 255) 0%, rgb(235, 21, 224) 51%, rgb(86, 2, 119) 100%);
}

.menuback {
     background-color: brown;
}
